version: '3.8'

services:
  rag_backend:
    build:
      context: ./rag_backend
      dockerfile: Dockerfile
    container_name: rag_backend
    ports:
      - "8000:8000"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "8501:8501"
    depends_on:
      - rag_backend
    restart: unless-stopped