langchain==0.3.7
langchain-core==0.3.17
langchain-community==0.3.7
langchain-qdrant==0.2.0
langchain-huggingface==0.1.1
langchain-openai==0.2.3
qdrant-client==1.11.0
pymupdf==1.24.7
python-dotenv==1.1.1
yandex_cloud_ml_sdk==0.17.0
mistralai==1.9.11
gdown==5.2.0
tinydb==4.8.2
pydantic==2.11.7
fastapi==0.124.4
uvicorn==0.38.0
loguru==0.7.3